<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetoSuporte">
        <activity
            android:name=".ui.RemocaoFuncionariosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CadastroFuncionarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CriarChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ListaChatsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ResponderChamadoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GuiaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RelatoriosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VisualizarChamadoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MenuAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HistoricoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DetalheTicketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MenuUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CadastroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.MenuAgenteActivity" />
        <activity android:name=".ui.AbrirTicketActivity" />
    </application>

</manifest>